

/* ############ caixa com botao primeiro cadastro e mostrar as cores cadastradas ############ */
.mostra-cor1{
	float:left;
	width:150px;
	height:150px;
}

.mostra-cor2{
	float:left;
	width:150px;
	height:150px;
}

.cores{
	float:left;
	width:100%;
}


/* ############ caixa com as cores ############ */


.cor-botao{
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFF;
    width: 160px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	float:left;
	margin-left:20px;
	margin-top:10px;
}


.cor-1{
	float:left;
	width:50%;
	height:50px;
}

.cor-2{
	float:left;
	width:50%;
	height:50px;
	background:#4A89DC;
}
	.text{
		text-align:center;
		font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
		font-size: 14px;
		width:100%;
		height:20px;
		float:left;
	}

.botao-salva-cor{
float:right;
width:100%;
background:#8CC152;
color:white;
height:30px;
border: 0px;
	}
